
:root{
 --primary:#DFE2D2;
 --secondary:#48515B
}

body{
margin: 0;
font-family:'Quicksand', sans-serif;
background-color:#DFE2D2;

}

h1{
 margin: 10px 
 font-weight: bold
 text-color: #613864;
}
/* help*/
header{
  color:dark grey;
  size:150px;
  text-align:center;
  padding-top:10px;
  padding-bottom:5px;
  margin-bottom: 20px;

}

.header {
  background-color: #cfdb99;
    padding: 20px;
}
/*help*/
.Date{
  margin: 5px;
  padding-bottom: 15px;
  font-size: 30px
  
} 
  
  /*Temp, Wind, Humidity Index ??*/

.sidebar{
 width: 75% 
 border: inset 30px
 paddng-left: 20px;
 margin-right: 20px;
 float: left;
}
/*help*/
.search-form

.CityName

.active


button: hover{
 background-color: #48515B; 
 padding: 10px;
}
/*help*/
cityList{
  
}

.container-1{
  display:flex;
}

.flex-container {
  padding: 10px;
  margin: 0;
  border:solid 2px black;
  display:flex;
  flex-direction: row; 
  justify-content: flex-end;
  justify-content: space-around;
  align-content: space-around;
  column-gap: 40px;
}



.flex-box {
  background: #48515B;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  padding-top: 25px;
  line-height: 16px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.flex-item{
  background-color:white;
  border:solid 1px black;
  padding;5px;
  
}

@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
}

.right {
  padding: 20px;
}

.forecastInput











